
{% extends "TunisiaMallTMBundle::clientView/CIndex.html.twig" %}
{%block body3 %}

<section id="s-boutique" class="s-list" >
 


                 <h2 class="b-title ct1 text-center">NOS BOUTIQUES</h2>
               <form method="POST" action="">   
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
   
                    <select name="chercher" class="selectpicker" data-live-search="true" onChange="this.form.submit()">
                        <option disabled selected value> -- Choisir  boutique ? -- </option>
                            {% for boutique in boutiques2 %}
                       <option data-tokens = " {{boutique.Intitule}}" >{{boutique.Intitule}}</option>
  {%endfor %}
                    </select></br></br></br>  
                 </form>
                <div class="container">
                    
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tort">
                            <div class="row items-place">
                                {% for boutique in boutiques %}
                                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-6">
                                    <article class="item  animated wow" data-wow-duration="0.7s">
                                        <a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">Blueberries with cream Pancake</h4></a>
                                        <div class="wrap">
                                            <a href="{{ path('client_produit',{'idBoutique':boutique.IdBoutique} ) }}"><img class="stable full-w" src="{{asset('GUI/images/boutique/' ~ boutique.url)}}" alt=""></a>
                                            <div class="desc">
                                                <p class="name link-item" >{{ boutique.Intitule }}</p>
                                                <a href="{{ path('client_produitByBout',{'idBoutique':boutique.IdBoutique} ) }}"><button class="btn btn-sm  btn-icon btn-clicked btn--moema ">Consulter Produits</button></a>
                                            </div>
                                        </div>
                                    </article> 
                                </div>
                                           
                          
                               
                                {% endfor %}
                              
                        </div>
                            
                        </div>
                        
     
                                                   
                    </div>
                </div>
            </section>
                                <center>
                                  <div class="navigation">
                                        {{ knp_pagination_render(boutiques) }}
                                </div></center>
                                
                                {% endblock %}