
{% extends "TunisiaMallTMBundle::clientView/CIndex.html.twig" %}
{%block body3 %}
<section id="s-enseigne" class="s-list">
                
                  <h2 class="b-title ct1 text-center">NOS ENSEIGNES</h2>
                  <form method="POST" action="">   
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
   
                    <select name="chercher" class="selectpicker" data-live-search="true" onChange="this.form.submit()">
                                <option disabled selected value> -- Choisir  Enseigne ? -- </option>
                        {% for enseigne in enseignes2 %}
                       <option data-tokens = " {{enseigne.NomEnseigne}}" >{{enseigne.NomEnseigne}}</option>
  {%endfor %}
                    </select></br></br></br>  
                 </form>
                <h4 class="hidden">Items list</h4>
          
                <div class="container">
                    
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tort">
                            <div class="row items-place">
                    {% for enseigne in enseignes %}
                                    <!-- taswira debut -->
                                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-6">
                                    <article class="item  animated wow" data-wow-duration="0.7s">
                                        <a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">Blueberries with cream Pancake</h4></a>
                                        
                                        <div class="wrap">
                                          
                                            <img  class="stable full-w" src="{{asset('GUI/images/enseigne/' ~ enseigne.url)}}" alt="">
                                            <div class="desc">
                                                <p class="name link-item" >{{ enseigne.NomEnseigne }}</p>
                                                <br><br>
                                                <a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">VOIR PLUS DE DETAILS</a>
                                               
                                                <div class="changes">
                                                    <div class="media-left media-middle">
                                                        <div class="input-group counter-badge">
                                                        
                                                            <a href="{{ path('client_boutiqueByEns',{'nomEnseigne':enseigne.NomEnseigne} ) }}"><button class="btn btn-sm  btn-icon btn-clicked btn--moema ">Consulter Boutiques</button> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                                          
                                </div>
                                               <!-- taswira fin -->
                                <div id="item-detail-content1" class="item-detailed-content hidden">
                                 
                                    <button type="button" class="overlay-close inner visible-xs" data-dismiss="modal">×</button>
                                    <form action="http://html.yenisite.ru/best-dessert-eng/index.html">
                                        <div class="b-title text-center">Blueberries with cream pancake cake</div>
                                        <div class="item-detail">
                                            <!-- Swiper -->
                                            <div class="swiper-container it-gallery">
                                                <div class="swiper-wrapper"> <!-- taswira el kbiiira -->
                                                   
                                                    <div class="it-big swiper-slide">
                                                        <img class="zoom-img" src="{{asset('GUI/images/enseigne/' ~ enseigne.url)}}" alt="" data-zoom-image="{{asset('GUI/images/enseigne/' ~ enseigne.url)}}">
                                                    </div>
                                                 
                                                </div>
                                            </div>
                                                    <!-- taswira sghira-->
                                           

                                            <div class="clearfix">
                                                <div class="it-info">
                                                    <div class="text-list">
                                                        <div class="name">{{enseigne.NomEnseigne}}</div>
                                                        <div class="text">{{enseigne.info}}</div> <div class="text">{{enseigne.info}}</div> <div class="text">{{enseigne.info}}</div>
                                                    </div>
                                                   
                                                </div>
                                                
                                                    <br>
                                                    <button type="submit" class="btn btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Consulter Boutique</button>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                               
                                {% endfor %}
                              
                                
                              
                  
                           
                               
                            
                              
                          
                            </div>
                            
                        </div>
                         </div>
                </div>
            </section>
                                <center>
                                <div class="navigation">
                                        {{ knp_pagination_render(enseignes) }}
                                </div></center>
    {% endblock %}