
<!doctype html>

<html lang="en" class="" style="overflow-x:hidden;">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta charset="UTF-8">
    <title>TunisiaMall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{asset('lib/swiper/css/swiper.min.css')}}">
    <!--[if IE 8 ]>
    <link rel="stylesheet" href="{{asset('lib/swiper-2.7.6/idangerous.swiper.css')}}">
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="{{asset('fonts//shipping-font/styles.css')}}">
    <link rel="stylesheet" href="{{asset('styles/css/styles.css')}}">
        <link rel="stylesheet" href="{{asset('styles2.css')}}">
    <link rel="stylesheet" href="{{asset('styles/css/theme-common.css')}}" >
 <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="{{asset('lib/selectivizr-min.js')}}"></script>
    <![endif]-->
    <script src="{{asset('lib/modernizr.custom.04294.js')}}"></script>
    <!--[if IE 8 ]>
    <script src="{{asset('lib/respond/respond.min.js')}}"></script>
    <![endif]-->
    <!--2gis-->
    <!-- <script type="text/javascript" src={{ asset('search.js') }}></script>-->
    
<!-- ... -->

<script src="{{asset('Jquery.js')}}">

</script>

</head>

<body>

    {% block body %}
        {% endblock %}
        {% block body2 %}
        {% endblock %}
    <script src="{{asset('lib/jquery.min.js')}}"></script>
     <script src="{{asset('ckeditor/ckeditor.js')}}"></script>
    <script>window.jQuery || document.write('<script src="{{asset('lib/jquery/jquery-1.11.3.min.js')}}"><\/script>')</script>

    <!-- Load Bootstrap and bootstrap plugins -->
    <script src="{{asset('lib/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('lib/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
    <script src="{{asset('lib/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js')}}"></script>
    <script src="{{asset('lib/bootstrap-filestyle.min.js')}}"></script>
    <!-- Load some plugins -->

    <script src="{{asset('lib/swiper/js/swiper.jquery.min.js')}}"></script>
    <link rel="stylesheet" href="{{asset('styles/font-awesome.min.css')}}" property="stylesheet">

    <script src="{{asset('lib/wow/wow.min.js')}}"></script>
    <script src="{{asset('lib/sly.min.js')}}"></script>
    <!--<script src="{{asset('lib/countdown/jquery.countdown.min.js')}}"></script>-->
    <script src="{{asset('lib/device.js')}}"></script>
    <script src="{{asset('lib/jquery.parallax-scroll.js')}}"></script>
    <script src="{{asset('lib/intlTelInput/intlTelInput.min.js')}}"></script>
    <script src="{{asset('lib/jquery.scrollTo.min.js')}}"></script>
    <script src="{{asset('lib/jquery.magnify.js')}}"></script>
    <script src="{{asset('lib/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('lib/dragula/dragula.min.js')}}"></script>
    <script src="{{asset('lib/videoBG/videoBG.js')}}"></script>
    <!--Load scripts-->
    <script src="{{asset('lib/calctable.min.js')}}"></script>

    <!-- You can find global settings here -->
    <script src="{{asset('js/globals.js')}}"></script>
    <script src="{{asset('js/util-functions.js')}}"></script>

    <script src="{{asset('js/inits/init-settings.js')}}"></script>
    <script src="{{asset('js/inits/init-checkBrowser.js')}}"></script>
    <script src="{{asset('js/inits/init-video.js')}}"></script>
    <script src="{{asset('js/inits/init-youtube.js')}}"></script>
    <script src="{{asset('js/inits/init-bigSlider.js')}}"></script>
    <script src="{{asset('js/inits/init-clientSlider.js')}}"></script>
    <script src="{{asset('js/inits/init-affix.js')}}"></script>
    <script src="{{asset('js/inits/init-mainMenu.js')}}"></script>
    <script src="{{asset('js/inits/init-categories.js')}}"></script>
    <script src="{{asset('js/inits/init-phoneMasking.js')}}"></script>
    <script src="{{asset('js/inits/init-validation.js')}}"></script>
    <script src="{{asset('js/inits/init-promos.js')}}"></script>
    <script src="{{asset('js/inits/init-numberAnimation.js')}}"></script>
    <script src="{{asset('js/inits/init-numberInputs.js')}}"></script>
    <script src="{{asset('js/inits/init-cart.js')}}"></script>
    <script src="{{asset('js/inits/init-modalDetailed.js')}}"></script>

    <script src="{{asset('js/entry.js')}}"></script>
     <script src="{{asset('js/main.js')}}">
     </script>
    <script>
        var baseUrl = '';
        // if (typeof SITE_TEMPLATE_PATH !== "undefined") baseUrl = SITE_TEMPLATE_PATH + "/" + baseUrl;
        $(function(){
            ls.init.phoneMasking(document);
            // $('.form-tel').intlTelInput("loadUtils", baseUrl + '/lib/intlTelInput/utils.js')}}');
        })
    </script>
</body>
</html>