<html>

<head>
<!-- Mirrored from tui2tone.github.io/flat-admin-bootstrap-templates/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Mar 2016 01:36:36 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
    <title>{% block title %}Responsable Boutique -Compte{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href="{{asset('http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400')}}" rel='stylesheet' type='text/css'>
    <link href="{{asset('http://fonts.googleapis.com/css?family=Lato:300,400,700,900')}}" rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="{{asset('lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('lib/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('lib/css/animate.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('lib/css/bootstrap-switch.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('lib/css/checkbox3.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('lib/css/jquery.dataTables.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('lib/css/dataTables.bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('lib/css/select2.min.css')}}">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/themes/flat-blue.css')}}">
    <!--perso.css-->
    <link rel="stylesheet" type="text/css" href="{{asset('css/themes/perso.css')}}">
</head>
             
                <!-- body -->
<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active">Menu</li>
                         </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                       {% for a in comptes %}
                       <li class="dropdown profile">
                            
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                 {{ a.nom }} {{ a.prenom }} <span class="caret"></span></a>
                                 
                            <ul class="dropdown-menu animated fadeInDown">
                          
                                <li class="profile-img">
                                    <img src="{{asset('gui/profil/'~a.photo)}}" id="image-log">
                                </li>
                                <li>
                                     <div class="profile-info">
                                         <h4 class="username">{{ a.nom }} {{ a.prenom }}</h4>
                                        <p>{{ a.adressemail}}</p>
                                        
                                 <div class="btn-group margin-bottom-2x" role="group">
           
            <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i>Logout</button>
                                        </div>
                                    </div>	    
                                  {% endfor %}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
           </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                 {% block c %} {% for a in comptes %} <div class="title">{{ a.nom }} {{ a.prenom }}</div> {% endfor %}{% endblock %}
                            </a> 
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-element">
                                    <span class="icon fa fa-desktop"></span><span class="title">Produits</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                {% for a in comptes %}
                                <div id="dropdown-element" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="{{path('boutique_afficher_produit',{'login' :a.login})}}">Produits Boutique</a>
                                            </li>
                                            <li><a href="{{path('enseigne_afficher_produit',{'login' :a.login})}}">Produits Enseigne</a>
                                            </li>   
                                        </ul>
                                    </div>
                                </div>
                                            {% endfor %}
                            </li>
                            <li class="panel panel-default dropdown">
                                
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-form" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            
                                        </ul>
                                    </div>
                                </div>
                            </li>      
                            </li>
                            <!-- Dropdown-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-example">
                                    <span class="icon fa fa-slack"></span><span class="title">Profil</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-example" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {% for a in comptes %}
                                                <ul class="nav navbar-nav">
                                            <li><a href="{{path('boutique_Afficher_Profil',{'login' :a.login})}}">Afficher votre profil</a>
                                            </li>
                                        </ul>
                                        <ul class="nav navbar-nav">
                                            <li><a href="{{path('boutique_Modifier_Profil',{'login' :a.login})}}">Modifier votre profil</a>
                                            </li>
                                        </ul>
                                      {% endfor %}
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
                                
            <!-- Main Content -->
            {% block content %}
            <div class="container-fluid">
                <div class="side-body padding-top">
                    <div class="row">
                          <div class="content">
                                           
           <!-- ---------------------------------------------- -->    
  
            
                <div id="div">
                          <div id="div">
           <h1 id="n">Compte -Responsable Boutique</h1>   
        <legend id="k">Votre Profil :</legend>
       
             {% for a in comptes %}
                 
     <td><img src="{{asset('gui/profil/'~a.photo)}}" id="image-log"></td></tr>
                <div id="container"> 
      <label id="label">Nom et prenom :</label>
     <label id="lab">{{a.nom}} {{a.prenom}}</label>
      <br/> <label id="label"> Email : </label>
      <label id="lab">{{a.adressemail}}</label>
      <br/>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#MyModal">Afficher plus de details</button>
       <div id="MyModal" class="modal fade" role="dialog"> 
           
          {{ render(path('boutique_details_Profil',{'login' :a.login})) }}
  </div>
               </div>
           </div>
       </div> 
      </div> </div>
        
</div>
{% endfor %}
{% endblock %}
</div>
<!-------------------------------------------------------------------->
                        </div>
                    </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1<a href="#"><i class="fa fa-long-arrow-up"></i></a></span>
            </div>
        </footer>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="{{asset('lib/js/jquery.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/Chart.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/bootstrap-switch.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/jquery.matchHeight-min.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/jquery.dataTables.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/dataTables.bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/select2.full.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/ace/ace.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/ace/mode-html.js')}}"></script>
            <script type="text/javascript" src="{{asset('lib/js/ace/theme-github.js')}}"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="{{asset('js/app.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/index.js')}}"></script>
</body>


<!-- Mirrored from tui2tone.github.io/flat-admin-bootstrap-templates/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Mar 2016 01:37:05 GMT -->
</html>

